.footer {
    background-color: rgb(30, 31, 36);
    padding-bottom: 8rem;

}

.footer .box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    padding: 1rem 0;

}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    padding: 1rem 0;

}

.footer .box-container .box h4 {
    display: block;
    font-size: 1.4rem;
    padding: 1rem 0;
    color: aqua;

}

.footer .box-container .box h4:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.footer .box-container .box a i {
    padding-right: .5rem;

}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    padding: 1.5rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    border-top: var(--border);
    font-size: 2rem;

}